*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--primary-bg-clr);
  color: var(--primary-text-clr);
  font-family: sans-serif;
}

button,
input {
  all: unset;
}
