.header {
  align-items: center;
  display: flex;
  font-size: max(2.3vw, 1.2rem);
  font-weight: 600;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 1rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.logo {
  color: var(--accent-clr);
}

.timer {
  color: #fff9;
}

.timer.alert {
  color: var(--red-clr);
}
